.mainAbout {
    grid-column: 2 / 12;
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);

}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    text-align: center;
    margin: 4rem auto;
    padding: 2rem;
}
.aboutst {
    font-size: clamp(0.8rem, 2.4vw, 1.4rem);
    font-weight: 600;
    
}
.abouttitle {
    font-weight: 500;
    margin: 0.8rem;
    text-align: center;
    font-size: clamp(1.6rem, 2.7vw, 2.2rem);
}
.aboutLinks {
    text-decoration: none;
    color: #233929;
}
.email {
    font-size: clamp(0.4rem, 2.1vw, 1.2rem);
    font-weight: 400;
}
.aboutlocation {
    font-size: clamp(0.4rem, 2.1vw, 1.2rem);
    margin: 0.8rem;
    text-align: center;
    text-decoration: none;
    color: #233929;
    font-weight: 300;
}
.aboutsummary {
    font-size: clamp(0.4rem, 2.1vw, 1.2rem);
    text-align: justify;
    color: #233929;
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 4rem;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.aboutsummary a {
    color: #233929;
    margin: 2px;
}
.aboutsummary a:hover {
    text-decoration: underline;
    color: #233929;
}
strong {
    font-weight: 500;
    color: #2d2f2d;
}
.about-details {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    text-decoration: none;
    text-align: center;
    color: #233929;
    font-weight: 300;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.github {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 300;
    margin-right: 2rem;
}
.github:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #233929;
}
.linkedin {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 300;
    margin-left: 2rem;
}
.linkedin:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #233929;
}
.storygraph {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    text-decoration: none;
    color: black;
    font-weight: 300;
    margin: 0.5rem;
    transition: all 0.2s ease;
}
.storygraph:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #233929;
}
.spotify {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    text-decoration: none;
    color: #233929;
    margin: 0.5rem;
    transition: all 0.5s ease;
}
.spotify:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #233929;
}
.music {
    padding: 0 0.25rem;
}
.read {
    padding: 0 0.25rem;
}
.githubicon {
    max-width: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.linkedinicon {
    max-width: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.hr {
    border: none;
    color: #233929;
    margin: 4rem 0;
    height: 1px;
    background-color: #233929;
    opacity: 0.3;

}