@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,400;0,400;0,600&display=swap');

body {

  background-color: #e2eddf;
  font-family: 'Inter', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid; 
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}

