@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {

  background-color: #e2eddf;
  overflow: hidden;
  font-family: 'Inter', sans-serif;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid; 
  grid-template-rows: auto;
  grid-template-columns: 1fr 10fr 2fr;
  width: 100vw;
  height: 100vh;
}

