.all {
    color: black;
    background-color: #e2eddf;
    grid-column: 2 / 12;
    overflow: hidden;  
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.title {
    margin-top: 16rem;
    margin-bottom: 4rem;
    font-weight: 500;
}
.tools {
    margin-top: 10rem;
    font-weight: 500;
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    margin-bottom: 8rem;
}
.toolsList {
    font-weight: 400;
    font-size: clamp(0.8rem, 2.4vw, 1.4rem);
}
.footer {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.footerText:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footergroup {
    align-items: center;
    justify-content: center;
    display: block;
}