.all {
    color: black;
    background-color: #e2eddf;
    grid-column: 2 / 12;
    overflow: hidden;  
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.titlej {
    margin-top: 20rem;
    margin-bottom: 8rem;
    font-weight: 500;
    font-size: 2rem;
}

.saysdoesetc {
    overflow: hidden;
    gap: 1rem;
    padding-top: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.saysdoesetctitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}
.saysdoesetcimg {
    overflow: hidden;
    width: 70%;
}
.personastuff {
    gap: 1rem;
}
.personae {
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.personaeTitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}
.personaimg {
    overflow: hidden;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.customerjourney {
    justify-content: center;
    margin-top: 2rem;
}
.customerjourneyimg {
    overflow: hidden;
    width: 100%;
}
.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.wiretitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
}
.wirecart {
    margin-bottom: 2rem;

}
.wirecartimg {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    max-height: 95%;
}
.wirecheckout {
    margin-bottom: 2rem;
    margin: 0 auto;
}
.wirecheckoutimg {
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 95%;
    max-height: 95%;
}
.wireframess {
    margin-top: 6rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}
.wiresignup {
    overflow: hidden;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.signuporderconfirm {
    overflow: hidden;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    margin-bottom: 4rem;
}

.footer {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerText:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footergroup {
    align-items: center;
    justify-content: center;
    display: block;
}