.all {
    grid-column: 2 / 12;
}

.p4title {
    margin-top: 16rem;
    font-weight: 500;
    font-size: 2rem;
}
.p4sum {
    font-size: clamp(0.8rem, 2.4vw, 1.4rem);
    font-weight: 300;
    grid-column: 2;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    line-height: 1.5;
}
.p4sumb {
    font-weight: 400;
    text-align: justify;
}

.gamegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    height: 70%;
    margin-bottom: 4rem;
}
.p4vid {
    margin: 0 auto;
    flex-direction: column;
    grid-column: 1;
    overflow: hidden;
    display: flex;
}
.vide {
    width: clamp(150px, 30vw, 275px);
    border: 1px;
    border-style: solid;
    border-color: #454522;
    border-radius: 8px;
}

.bultitle {
    font-weight: 400;
}
.bullets {
    margin-top: 4rem;
    font-size: clamp(0.8rem, 2.4vw, 1.4rem);
    font-weight: 300;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.litem {
    margin-top: 0.5rem;
}

.p4link {
    margin-top: 6rem;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: clamp(0.8rem, 2.4vw, 1.4rem);
    text-decoration: none;
}
.p4link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.p4linkText {
    text-decoration: none;
    color: #454522;
}


.footer {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerText:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footergroup {
    align-items: center;
    justify-content: center;
    display: block;
}