.all {
    grid-column: 2 / 12;
    overflow: hidden;  
    display: flex;
    flex-direction: column;
}
.p5title {
    margin-top: 16rem;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 4rem;
}
.amposterTitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}
.amposter {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}
.menu {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
}
.menuTitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}
.menuimg {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.p5summary {
    font-size: clamp(0.8rem, 2.4vw, 1.4rem);
    font-weight: 300;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
}

.magazine {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.magazineall {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}
.magazineTitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.p5img {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.p5img1 {
    grid-column: 2;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-self: start;
}
.p5img2 {
    grid-column: 1;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-self: end;
}
.p5img3 {
    grid-column: 2;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.p5img4 {
    grid-column: 1;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-self: end;
}
.p5img5 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.p5img6 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: right;
    align-items: right;
    justify-self: end;
}
.foldTitle {
    font-size: clamp(1.2rem, 2.7vw, 1.7rem);
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.p5img7 {
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;

}
.p5img8 {
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 2rem;
}
.p5img9 {
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    justify-self: left;
}

.graphicall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.footer {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
.footerText:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footergroup {
    align-items: center;
    justify-content: center;
    display: block;
}