.footer {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.footerText:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footergroup {
    align-items: center;
    justify-content: center;
    display: block;
}